#Templates {
	display: none;
}

body {
  background: #333;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
ul {
  list-style: none outside;
  margin: 0;
  padding: 0;
}
a {
  color: #999;
  text-decoration: none;
}
a:visited {
  color: #999;
}
a:hover {
  color: #f00;
}
h1 {
	font-size: 2em;
	margin-left: 10px;
}
h2 {
	font-size: 1em;
	margin-top: 0;
}
li {
	font-size: 0.8em;
}
#Bookmarks {
	-moz-box-shadow: 0px 0px 5px 0px #cccccc;
	-webkit-box-shadow: 0px 0px 5px 0px #cccccc;
	box-shadow: 0px 0px 5px 0px #cccccc;
	border: solid 1px #ccc;
	padding: 10px;
	-moz-column-count: 5;
	-moz-column-gap: 1em;
	-webkit-column-count: 5;
	-webkit-column-gap: 1em;
	margin: 10px;
	background: white;
	opacity: 0;
	-webkit-transition: opacity 1.4s;
    transition: opacity 1.4s;
}

@media (max-width: 1024px) {
  #Bookmarks {
    -moz-column-count: 4;
    -webkit-column-count: 4;
  }
}

@media (max-width: 800px) {
  #Bookmarks {
    -moz-column-count: 3;
    -webkit-column-count: 3;
  }
}

@media (max-width: 640px) {
  #Bookmarks {
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }
}

#Bookmarks.active {
	opacity: 1;
}

.tag-block {
	margin-bottom: 10px;
}
