body {
    font-size: 2rem;
    background: #FAF9F6;
    color: #212121;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    @media (prefers-color-scheme: dark) {
        background: #414a4c;
    }
}

@media (min-width:801px)  {
    body {
        font-size: 1rem;
    }
}

h2 {
    @media (prefers-color-scheme: dark) {
        color: #FAF9F6;
    }
}

a {
    @media (prefers-color-scheme: dark) {
        color: #FAF9F6;
    }
    text-decoration: none;
}

#Bookmarks {
    column-width: 250px;
}

.list {
    padding: 0;
    margin: 0 10px;
}

.item {
    list-style-type: '- ';
    list-style-position: outside;
    margin-bottom:0.3rem;
}

a:hover {
    text-decoration: underline;
    color: red;
    @media (prefers-color-scheme: dark) {
        color: #FAF9F6;
    }
}