body {
    background: #fdfdfd;
    color: #212121;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    @media (prefers-color-scheme: dark) {
        background: #aaa;
    }
}

#Bookmarks {
    display: flex;
    flex-wrap: wrap;
}

.listSection {
    margin-right: 2em;
}

.list {
    padding: 0;
}

.item {
    list-style-type: '- ';
    list-style-position: inside;
}

.bookmark:hover {
    text-decoration: none;
    color: red;
}